
:root {
--red: hsl(0, 100%, 74%); 
--green: hsl(154, 59%, 51%);


--blue: hsl(248, 32%, 49%);


--dark-blue: hsl(249, 10%, 26%);
--grayish-blue: hsl(246, 25%, 77%);
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    height: 100svh;
    display: grid;
    place-content: center;

    background: url('../images/bg-intro-mobile.png') var(--red);
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline: 1.6rem;

    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    background-color: white;

    /* Mobile */
    padding-inline: 1.4rem;
    padding-block: 1.5rem;
    border-radius: 9px;
    gap: 1rem;
    box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2);

    /* inline-size: 20.5rem; */
    /* block-size: 27.55rem; */

    /* Desktop */
}
.form-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-heading {
    background-color: var(--blue);
    color: white;
    padding-inline: 4.5em;
    padding-block: 1rem;
    max-width: 50ch;
    line-height: 1.75;
    font-size: 0.96rem;
    border-radius: 10px;
    box-shadow: 0px 9px 0px 0px rgba(0, 0, 0 , 0.2);

    margin-block-end: 1.7rem;
}


.heading {
    max-width: 18ch;
    line-height: 1.3;
    font-size: 1.7rem;
    
    margin-block: 1.4rem;
}
.heading-con {
    color: white;
    display: flex;
    flex-direction: column;
}

.heading-para {
   
    line-height: 1.6;
    font-size: 1rem;
    margin-block-end: 3.9rem;
    /* play around with max width  */
    max-width: 60ch;
}

input {
    all: unset;
    text-align: left;
    border: 1px solid var(--grayish-blue);
    padding-block: 1rem;
    padding-inline: 1.2rem;
    font-size: 0.93rem;
    border-radius: 5px;
}

.submit-btn {
    background-color: var(--green);
    color: white;
    padding-block: 1rem;
    width: 100%;
    border-radius: 4px;
    box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2);
    margin-block-end: -0.3125rem;
}

.terms-para {
    color: var(--grayish-blue);
    font-size: 0.7rem;
    max-width: 38ch;
    line-height: 1.6;
    margin-inline: 1.1rem;
}
.terms-para>span {
    color: var(--red);
}