
:root {
--red: hsl(0, 100%, 74%); 
--green: hsl(154, 59%, 51%);


--blue: hsl(248, 32%, 49%);


--dark-blue: hsl(249, 10%, 26%);
--grayish-blue: hsl(246, 25%, 77%);
}

body {
    height: 100svh;
    display: grid;
    place-content: center;

    background: url('../images/bg-intro-mobile.png') var(--red);
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline: 1.6rem;

    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
.form-con {
    display: flex;
    flex-direction: column;
}

.heading-con {
    display: flex;
    flex-direction: column;
}