body {
    height: 100svh;
    display: grid;
    place-content: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
}
.form-con {
    display: flex;
    flex-direction: column;
}

.heading-con {
    display: flex;
    flex-direction: column;
}